// CLASSES THAT AFFECT MOST THE PAGE START HERE
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
  }
  
  
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 2.1875rem;
    padding-bottom: 0px;
    padding-left: 8rem;
  }

  main {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    background: #f7f6f6;
  }
  // CLASSES THAT AFFECT EVERYTHING END HERE
  
  
  
  
  // THE ALMIGHTY BUTTON
  .button{
    position: absolute;
    top:59%;
    right:1%;
    width: 315px;
    height: 55px;
  }
 // THE ALL MIGHTY BUTTON ENDS HERE
  
 
 
 
 
 // NAV BAR STARTS HERE 
 header {
    display: flex;
    justify-content: space-between;
    height: 3.125rem;
    z-index: 10;

  }
  #nav-bar{
    background-color: #ffffff;
    padding-left: 15%;
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .logo {
    position: absolute;
    left: 0;
  }

  .leftsidebar-img {
    position: absolute;
    left: 0;
  }

  .leftsidebar__whitespace{
    position: absolute;
    left: 0;
    bottom: -50px;
  }
  
  .header-left {
    padding-left: 1.25rem;
    align-self: left;
  }
  
  .header-right {
    padding-right: 25%;
    display: flex;
    align-items: center;
    align-self: right;
  }

 // NAV BAR ENDS HERE
 
 
 
 
 
  // HERO CARD START HERE

  .card {
    display: flex;
    width: 75%;
    height: 10.5rem;
    margin: 0.625rem;
    box-shadow: 3px 3px 3px #aaaaaa;
    border-radius: 5px;
    flex-wrap: wrap;
    background-color: #ffffff;

  }
  .yellowline-img{
    top: 24%;
    position: absolute;
    left: 17%;
  }

.twosquare-img{
    position: absolute;
    right: 36%;
    top: 13%;
}
  .card__content {
    flex: 0 0 100%;
    display: flex;
    justify-self: end;
    text-align: center;
    padding-left: 2rem;
    font-size: 26px;
  }
  
  .card__title {
    flex: 0 0 100%;
    text-align: center;
    padding-left: 2rem;
    padding-top: 1.9375rem;
    display: flex;
    justify-self: end;
    font-size: 12px;
  }
  

//  HERO CARD ENDS HERE




// BODY TEXT STARTS HERE

  .bodytext{
    position: absolute;
    left: 260px;
    top: 35%;
    width: 45%;
    padding-left: 5rem;
    line-height: 25px;
    
    &__2
    {
      position: absolute;
      left: 260px;
      top: 62%;
      width: 45%;
      padding-left: 5rem;
      line-height: 25px;
    }
    &__3
    { position: absolute;
      left: 260px;
      top: 80%;
      width: 45%;
      padding-left: 5rem;
      line-height: 25px;
    }
    &__header{
      font-weight: bold;
    }
  }
  
// BODY TEXT ENDS HERE




.right-sidebar {
  background: #dddddd;
  background-color: white;
  }



  // #modalContainer {
  //   background-color:rgba(0, 0, 0, 0.3);
  //   position:absolute;
  //   width:100%;
  //   height:100%;
  //   top:0px;
  //   left:0px;
  //   z-index:10000;
  //   background-image:url(tp.png);
  // }
  
  // #alertBox {
  //   position:relative;
  //   width:300px;
  //   min-height:100px;
  //   margin-top:50px;
  //   border:1px solid #666;
  //   background-color:#fff;
  //   background-repeat:no-repeat;
  //   background-position:20px 30px;
  // }
  
  // #modalContainer > #alertBox {
  //   position:fixed;
  // }
  
  // #alertBox h1 {
  //   margin:0;
  //   font:bold 0.9em verdana,arial;
  //   background-color:#3073BB;
  //   color:#FFF;
  //   border-bottom:1px solid #000;
  //   padding:2px 0 2px 5px;
  //   display: flex;
  //   justify-content: center;
  // }
  
  // #alertBox p {
  //   font:0.7em verdana,arial;
  //   height:50px;
  //   display:flex;
  //   justify-content: center;
    
  // }
  
  // #alertBox #closeBtn {
  //   display:block;
  //   position:relative;
  //   margin:5px auto;
  //   padding:7px;
  //   border:0 none;
  //   width:70px;
  //   font:0.7em verdana,arial;
  //   text-transform:uppercase;
  //   text-align:center;
  //   color:#FFF;
  //   background-color:#357EBD;
  //   border-radius: 3px;
  //   text-decoration:none;
  // }


  .custom-alert {
    // display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.countdown {
    font-size: 24px;
    margin-bottom: 10px;
}

.alert-message {
  font-size: 2rem;
  &--countdown {
    font-weight: 500;
    color: red;
    display: none;
  }
  &--question {
    color: blue;
    font-size: 1rem;
  }
}

